.btn {
    padding: 10px;
    margin-right: 10px;
    width: 70px;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }

.btn-success {
    color: rgb(0, 105, 0);
}

.btn-danger {
    color: rgb(201, 0, 0);
} 