.modal {
    border-radius: 2%;
    position: fixed;
    width: 50vw;
    height: 150px;
    left: 25vw;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid #888;
    background-color: white;

  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .modal-content div input {
    margin: 0;
    border: 1px rgb(0, 153, 255);
    border-radius: 3%;
    width: 65%;
    padding: 10px;
    float: left;
    font-size: 14px;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }