* {
  box-sizing: border-box;
}

html { 
  background: url('https://picsum.photos/id/114/3264/2448') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loader {
  position: fixed;
  top: 30vh;
  left: 47.5vw;
  width: 10vw;
  height: 10vw;
}

